<!DOCTYPE html>
<html lang="en">

<head>
   <% include ../partials/head %>
</head>

<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Sentiment Analysis of Tweets</h1>
            <p>Team 13</p>
            <ul>
              <li>Alexandre Maille</li>
              <li>Anni Piao</li>
              <li>Hua Hua</li>
              <li>Lan Yang</li>
              <li>Nishant Angaria</li>
            </ul>
    </div>
    <div class="col-xs-12 thumbnail">
          <img src="https://upload.wikimedia.org/wikipedia/commons/c/c5/MEGWARE.CLIC.jpg" alt="Image of Team-13">

    </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html>